body {
  background: #eee;
  margin: 20px;
  font-family: tahoma;
}

#app {
  width: 80%;
  margin: 0 auto;
  background: #fff;
  border-top: 3px solid #7f4cc1;
  padding: 10px;
  border-radius: 2px;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.2);
  color: #333;
}

#app p {
  color: #777;
  font-style: italic;
}

#todo-list ul {
  list-style-type: none;
  padding: 0;
}

nav {
  float: right;
}

nav a {
  flex-basis: 0;
  flex-grow: 3;
  padding: 10px;
  background: #7f4cc1;
  border-radius: 4px;
  border: 2px solid #7f4cc1;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
  margin-right: 1em;
  text-decoration: none;
}

.toggle-hide-done-button {
  padding: 10px;
  background: #7f4cc1;
  border-radius: 4px 0 0 4px;
  border: 2px solid #7f4cc1;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
}

.toggle-info {
  padding: 10px;
  background: #7f4cc1;
  border-radius: 0 4px 4px 0;
  border: 2px solid #7f4cc1;
  color: #fff;
  text-transform: uppercase;
}
